.mcw-demo-button{margin:0 auto;text-align:center}.mcw-demo-button button+button{margin-left:4px}.button-style-select,.button-type-select{margin:0 32px;display:flex;flex-flow:column nowrap;justify-content:flex-start}
