@use '@material/theme'  with (
    $primary: #be6c35,
    $on-primary: white,
);

@use '@material/shape' with (
  $small-component-radius: 8px,
  $medium-component-radius: 16px,
);

@use '@material/button' with (
  $height: 48px
);

@use '@material/icon-button';
@use '@material/snackbar';

@include button.core-styles;
@include icon-button.core-styles;

@include snackbar.core-styles;
@include snackbar.fill-color(#542d11);
