@use "@material/theme" with (
  $primary: rgb(190, 108, 53)

);

@use "@material/banner/styles" as banner;
@use "@material/button/mdc-button";
@use "@material/card/mdc-card";
@use "@material/circular-progress/mdc-circular-progress";
@use "@material/checkbox/mdc-checkbox";
@use "@material/chips/styles" as chips;
@use "@material/data-table/mdc-data-table";
@use "@material/dialog/mdc-dialog";
@use "@material/drawer/mdc-drawer";
@use "@material/elevation/mdc-elevation";
@use "@material/fab/mdc-fab";
@use "@material/floating-label/mdc-floating-label";
@use "@material/form-field/mdc-form-field";
@use "@material/icon-button/mdc-icon-button";
@use "@material/image-list/mdc-image-list";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/list/mdc-list";
@use "@material/menu/mdc-menu";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/radio/mdc-radio";
@use "@material/ripple/mdc-ripple";
@use "@material/select/mdc-select";
@use "@material/segmented-button/styles" as segmentedButton;
@use "@material/slider/styles" as slider;
@use "@material/snackbar/mdc-snackbar";
@use "@material/switch/styles" as switch;
@use "@material/tab/mdc-tab";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/textfield/mdc-text-field";
@use "@material/tooltip/styles" as tooltip;
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
