@use '../components/styles';
@use '@material/elevation' as elevation-mixins;
@import './_constant';
@import './markdown';

.mcw-list-item__text,
.mcw-list-item__primary-text,
.mcw-list-item__secondary-text {
    outline: none;
}
.primary-drawer .mdc-drawer {
    .mdc-drawer__header {
        background-color: $grey-900;
        background-image: url(../assets/logo.svg);
        background-size: 33.333%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.main-toolbar {
    .mdc-top-app-bar__title {
        padding: 2px 0 2px 50px;
        background: no-repeat 0/32px 32px url(../assets/logo.svg);
        font-family: 'Roboto Mono', monospace;
        font-size: 1rem;
        letter-spacing: 0.0675rem;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

.content {
    padding: 48px 32px;
    margin: 16px auto 16px auto;
    max-width: 800px;
    min-width: 250px;

    .mcw-display {
        font-family: 'Roboto Mono', Monaco, courier, monospace;
    }
}

.demo-icon {
    content: '';
    display: block;
    width: 96px;
    height: 96px;
    margin-bottom: 24px;
    background-position-x: 50%;
    background-position-y: center;
    background-size: 100%;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.demo-article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    min-height: 50px;

    .mcw-demo {
        flex: 1 1 auto;
        background-color: #f2f2f2;
    }

    .mcw-demo--container {
        @include elevation-mixins.elevation(0);
        min-height: 100px;
        min-width: 200px;
        padding: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-narrow {
            max-width: 485px;
        }
    }
}

.doc-article {
    margin-top: 40px;
}

.demo-home .markdown {
    a,
    a:active,
    a:hover,
    a:link,
    a:visited,
    p {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

// This code is designed to position the hidden marks appropriately, while still
// allowing the user to copy the text with spaces intact and without hidden
// marks.
.hidden-mark {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    &::after {
        position: absolute;
        right: 0;
        color: #9b9b9b;
    }

    &--dot::after {
        content: '•';
    }

    &--return::after {
        content: '¬';
    }
}
